@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:83.9vh;
    
    
}
.form-input{
    display: flex;
    flex-direction: column;
    gap:10px;
    font-family: "Poppins";
    background: #F6F7FB;
    padding:40px 40px;
    flex-wrap: wrap;
}
.input{
    height:30px;
    width:330px;
    font-family: "Poppins";
}

.form-control{
    display: flex;
    
    
}
.content{
    margin: 0px;
    width: 544px; 
    height: 190px;
}
.champ{
    flex-basis: 40%;;
    
}
button{
    font-family: "Poppins";
}
.textarea{
    display:flex;
    flex-direction: column;
    small{
        opacity: 0.75;
    }
}

//Form Verification
.ng-touched.ng-invalid {
    border-color:red;
    border-width: 2px;
}

@media only screen and (max-width: 638px) {
    
   .form-control{
       flex-direction: column;
   }
   .input{
       width:130px;
   }
   .content{
    width: 100%;
    height: auto;
   }
  }