<div class="container1">
    <div class="users">
        <div class="table">
        <table>
            <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sexe</th>
                <th>Email</th>
                <th>Crédit</th>
                <th>Supprimer</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index ">
                    <td>{{user._id}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.credit}}</td>
                    <td><button (click)="delete(user._id, i )"><fa-icon [icon]="faTrashAlt"></fa-icon></button></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    
</div>
